@using System.Globalization;
@{ 
    var orderInfo = ViewBag.OrderInfo;
    ViewData["Title"] = "Chi tiết đơn hàng #" + orderInfo.GetType().GetProperty("Id").GetValue(orderInfo, null) + " - SportswearShop";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    // Cái này để format tiền
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Chi tiết đơn hàng</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Order</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Order detail</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6">
                                    <span>
                                        <i class="fas fa-calendar-alt"></i> <b>Ngày đặt hàng: @orderInfo.GetType().GetProperty("CreatedAt").GetValue(orderInfo, null).ToString("HH:mm dd-MM-yyy")</b>
                                    </span> <br>
                                            <small class="text-muted">Mã đơn hàng: @orderInfo.GetType().GetProperty("Id").GetValue(orderInfo, null)</small>
                                </div>
                                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                    <a class=" d-inline-block" style="max-width: 200px; line-height: 1.5; border: 1px solid black; padding: 0.5rem  0.75rem ; border-radius: 0.25rem; "> @orderInfo.GetType().GetProperty("Status").GetValue(orderInfo, null)</a>
                                </div>
                            </div>
                            @*</header>*@
                        </div>
                        <div class="card-body">
                            <div class="row" style="margin:30px 0px">
                                <div class="col-lg-4">
                                    <div class="box shadow-sm bg-light">
                                        <h5>Thông tin khách hàng</h5> <p> Họ Tên: @orderInfo.GetType().GetProperty("LastName").GetValue(orderInfo, null)  @orderInfo.GetType().GetProperty("FirstName").GetValue(orderInfo, null)<br>Email: @orderInfo.GetType().GetProperty("Email").GetValue(orderInfo, null) <br>Số điện thoại: @orderInfo.GetType().GetProperty("Mobile").GetValue(orderInfo, null)</p>
                                    </div>

                                    <div class="box shadow-sm bg-light">
                                        <h5>Thông tin giao hàng</h5>
                                        <p>
                                            Họ Tên Người Nhận: @ViewBag.DefaultShippingAddress.GetType().GetProperty("ReceiverName").GetValue(@ViewBag.DefaultShippingAddress, null)
                                            <br>Số Điện Thoại: @ViewBag.DefaultShippingAddress.GetType().GetProperty("Phone").GetValue(@ViewBag.DefaultShippingAddress, null)
                                            <br>Địa Chỉ: @ViewBag.DefaultShippingAddress.GetType().GetProperty("Address").GetValue(@ViewBag.DefaultShippingAddress, null), @ViewBag.DefaultShippingAddress.GetType().GetProperty("XaPhuong").GetValue(@ViewBag.DefaultShippingAddress, null), @ViewBag.DefaultShippingAddress.GetType().GetProperty("QuanHuyen").GetValue(@ViewBag.DefaultShippingAddress, null), @ViewBag.DefaultShippingAddress.GetType().GetProperty("ThanhPho").GetValue(@ViewBag.DefaultShippingAddress, null)

                                        </p>
                                    </div>
                                    <div class="box shadow-sm bg-light">
                                        <h5>Thông tin thanh toán</h5>
                                        <p>
                                            Hình thức thanh toán: @orderInfo.GetType().GetProperty("PaymentMethod").GetValue(orderInfo, null)
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="table-responsive">
                                        <table class="table border table-hover table-lg">
                                            <thead>
                                                <tr>
                                                    <th>Sản phẩm</th>
                                                    <th width="20%">Đơn giá</th>
                                                    <th>Số lượng</th>
                                                    <th width="20%" class="text-end">Thành tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{int sum = 0; }
                                                @foreach (var item in ViewBag.OrderDetail)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="info"> <img style="margin-right:20px;" src="@item.GetType().GetProperty("ProductImage").GetValue(item, null)" width="40" height="40" class="img-xs" alt="Item"><a href="{{URL::to('/product-detail/'.$item->ProductId)}}"></a>@item.GetType().GetProperty("ProductName").GetValue(item, null)</div>

                                                        </td>
                                                        <td>@item.GetType().GetProperty("UnitPrice").GetValue(item, null).ToString("#,###", cul.NumberFormat)  ₫</td>
                                                        <td> x@(@item.GetType().GetProperty("OrderQuantity").GetValue(item, null).ToString("#,###", cul.NumberFormat)) ₫</td>
                                                        <td style="text-align: right !important;">@((item.GetType().GetProperty("UnitPrice").GetValue(item, null) * item.GetType().GetProperty("OrderQuantity").GetValue(item, null)).ToString("#,###", cul.NumberFormat))  ₫</td>
                                                    </tr>
                                                    sum += (item.GetType().GetProperty("UnitPrice").GetValue(item, null) * item.GetType().GetProperty("OrderQuantity").GetValue(item, null));
                                                }
                                                <tr>
                                                    <td colspan="4">
                                                        <article style="float: right !important; " class="float-end ">
                                                            <dl style="display: flex;" class="dlist">
                                                                <dt style="width: 150px; font-weight: normal;">Tổng cộng:</dt>
                                                                <dd style="margin-left: 30px; vertical-align: baseline; flex-grow: 1;  margin-bottom: 0;   text-align: right;">@sum.ToString("#,###", cul.NumberFormat) ₫</dd>
                                                            </dl>
                                                            <dl style="display: flex;" class="dlist">
                                                                <dt style="width: 150px; font-weight: normal;">Phí vận chuyển:</dt>
                                                                <dd style="margin-left: 30px; vertical-align: baseline; flex-grow: 1;  margin-bottom: 0;   text-align: right;">@orderInfo.GetType().GetProperty("ShipFee").GetValue(orderInfo, null).ToString("#,###", cul.NumberFormat) ₫</dd>
                                                            </dl>
                                                            <dl style="display: flex;" class="dlist">
                                                                <dt style="width: 150px; font-weight: normal;">Tổng đơn hàng:</dt>
                                                                <dd style="margin-left: 30px; vertical-align: baseline; flex-grow: 1;  margin-bottom: 0;   text-align: right;"> <b class="h5">@orderInfo.GetType().GetProperty("TotalMoney").GetValue(orderInfo, null).ToString("#,###", cul.NumberFormat) ₫</b> </dd>
                                                            </dl>
                                                            <dl style="display: flex;" class="dlist">
                                                                <dt style="width: 150px; font-weight: normal;" class="text-muted">Trạng thái:</dt>
                                                                <dd>
                                                                    <span style="color: #006d0e; background-color: #ccf0d1; border-color: #b3e9b9;" class="badge rounded-pill  text-order">@orderInfo.GetType().GetProperty("Payment_status").GetValue(orderInfo, null)</span>
                                                                </dd>
                                                            </dl>
                                                        </article>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
