@using System.Globalization;
@using Microsoft.AspNetCore.Http
@using SportswearShop_Ver2.Models
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	string adminId = HttpContextAccessor.HttpContext.Session.GetString("adminId");
	string customerId = HttpContextAccessor.HttpContext.Session.GetString("customerId");
	string customerFirstName = HttpContextAccessor.HttpContext.Session.GetString("customerFirstName");
	string customerLastName = HttpContextAccessor.HttpContext.Session.GetString("customerLastName");
	string customerImage = HttpContextAccessor.HttpContext.Session.GetString("customerImage");
	if (string.IsNullOrEmpty(customerImage))
	{
		customerImage = "default-user-icon.png";
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewData["Title"]</title>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/public/vendor/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="~/public/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/public/css/main.css">
	<!--===============================================================================================-->
	<!--File css của Huy  -->
	<link rel="stylesheet" href="~/public/client/css/huy.css">
	<!-- Favicon -->
	<link rel="icon" href="~/public/images/icons/favicon.png" />
	<!-- Fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">	<!-- StyleSheet -->
	<link rel="stylesheet" href="~/public/client/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/public/plugins/ps-icon/style.css">
	<!-- CSS Library-->
	<link rel="stylesheet" href="~/public/client/plugins/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/public/client/plugins/owl-carousel/assets/owl.carousel.css">
	<link rel="stylesheet" href="~/public/client/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
	<link rel="stylesheet" href="~/public/client/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="~/public/client/plugins/Magnific-Popup/dist/magnific-popup.css">
	<link rel="stylesheet" href="~/public/client/plugins/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="~/public/client/plugins/revolution/css/settings.css">
	<link rel="stylesheet" href="~/public/client/plugins/revolution/css/layers.css">
	<link rel="stylesheet" href="~/public/client/plugins/revolution/css/navigation.css">
	<!-- Custom-->
	<link rel="stylesheet" href="~/public/client/css/style.css">
	<link rel="stylesheet" href="~/public/client/css/themify-icons.css">
	<link rel="stylesheet" href="~/public/client/css/font-awesome.css">
	<link rel="stylesheet" href="~/public/client/css/responsive.css">
    <!-- Magnific Popup -->
	<link rel="stylesheet" href="~/public/client/css/magnific-popup.min.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="~/public/client/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="~/public/client/css/themify-icons.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/public/client/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="~/public/client/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/public/client/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/public/client/css/slicknav.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/public/client/css/slicknav.min.css">
</head>
<body>
	<header class="header">
        <nav class="navigation" style="height:50px; margin-bottom: 15px;">
            <div class="wrap-menu-desktop b-shadow-head">
                <div class="navigation__column left">
                    <div class="header__logo pl-40"><a class="ps-logo" href="/Home/Index"><img src="\public\images\icons\sport.png" alt=""></a></div>
                    <input type="text" id="input-customer-id" value="@customerId" hidden><!--Đừng xóa cái này  -->
                    <input type="text" id="input-admin-id" value="@adminId" hidden>
                </div>
				<div class="navigation__column center" style="height:60px; margin-bottom: 15px;">
                    <ul class="main-menu menu">
						 <li class="category"><a href ="/Home/Index">Trang chủ</a></li>
                        @foreach (var item in @ViewBag.AllCategory)
                        {
                            
                                <li class="menu-item menu-item-has-children has-mega-menu">
                                    <a href="/ProductListing/Product_Listing1?categoryId=@item.GetType().GetProperty("Id").GetValue(item, null)" style="text-decoration:none">@item.GetType().GetProperty("Name").GetValue(item, null)</a>
                                    <div class="mega-menu b-r-15">
                                        <div class="mega-wrap b-r-15">
                                            @foreach (var brand in @ViewBag.AllMenu)
                                            {
											@if (brand.GetType().GetProperty("Parent_id").GetValue(brand, null) == @item.GetType().GetProperty("Id").GetValue(item, null))
                                                {
                                                    <div class="mega-column">
                                                        <a href="/ProductListing/Product_Listing2?MenuId=@brand.GetType().GetProperty("Id").GetValue(brand, null)"> <h4 class="mega-heading">@brand.GetType().GetProperty("Name").GetValue(brand, null)</h4> </a>
                                                        @*@foreach (var subbrand in @ViewBag.AllSubBrand)
                                                        {
                                                            @if (subbrand.GetType().GetProperty("BrandId").GetValue(subbrand, null) == brand.GetType().GetProperty("BrandId").GetValue(brand, null))
                                                            {
                                                                <ul class="mega-item">
                                                                    <li><a href="/ProductListing/product_listing3?subbrandId=@subbrand.GetType().GetProperty("SubBrandId").GetValue(subbrand, null)">@subbrand.GetType().GetProperty("SubBrandName").GetValue(subbrand, null)</a></li>
                                                                </ul>}}*@
                                                    </div>}}
                                        </div>
                                    </div>
                                </li>
						}
                                <li class="menu-item"><a href="/Blog/all_blog" style="text-decoration:none">BLOG</a></li>
                    </ul>
                </div>

                <div class="navigation__column right" style="height:60px; margin-bottom: 15px;">
                    <form class="ps-search--header" action="/Home/search_result" name="timkiem" method="post">
                        <input class="form-control" type="text" id="keyword" name="kw_submit" placeholder="Tìm kiếm" value="@ViewData["CurrentFilter"]">
                        <button type="submit" name="submit" value="Search"><i class="fa fa-search"></i></button>
                    </form>
                    <div class="ps-cart">
                        <a class="ps-cart__toggle" href="/Cart/show_cart" title="Giỏ hàng">
                            <span><i id="so-luong-sp-gio-hang">0</i></span>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                        <div class="ps-cart__listing">
                            <div id="load_cart"></div>
                        </div>
                    </div>
                    <div class="menu-toggle"><span></span></div>
                    @if (!string.IsNullOrEmpty(customerId))
                    {<a class="ps-cart__toggle" href="/Wishlist/Index"><i class="fa fa-heart-o" aria-hidden="true" title="Wish List"></i></a>}
                    <div class="dropdown">
                        <div class="nut_dropdown"><a href="/Home/login" class="ps-cart__toggle"><i class="fa fa-user-circle-o" title="Đăng Nhập"></i></a></div>
                        <div class="noidung_dropdown">
                            @if (!string.IsNullOrEmpty(customerId))
                            {
                                <a href="/Profile/profile">Tài khoản</a>
                                <a href="/Order/my_orders">Đơn hàng của tôi</a>
                                <a href="/Home/Logout">Đăng xuất</a>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>

	@RenderBody()

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="~/public/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/public/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/public/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/public/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/public/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>
	<style>
		.swal-footer, .swal-text {
			text-align: center;
		}

		.slider-area .mySlides {
			display: none
		}

		.slider-area img {
			vertical-align: middle;
			border-radius: 10px 10px 0px 0px;
			max-height: 260px;
		}

		.slideshow-container {
			position: relative;
			margin: 50px 0px 0px 0px;
			border: 1px solid #D1D6E0;
			border-radius: 10px;
		}
		/* Next & previous buttons */
		.slider-area .prev, .next {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			padding: 16px;
			margin-top: -22px;
			color: white;
			font-weight: bold;
			font-size: 18px;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
			user-select: none;
		}
		/* Position the "next button" to the right */
		.slider-area .next {
			right: 0;
			border-radius: 3px 0 0 3px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
			background-color: rgba(0,0,0,0.8);
		}

		/* The dots/bullets/indicators */
		.slider-area .dot {
			cursor: pointer;
			height: 8px;
			width: 8px;
			margin: 0 2px;
			background-color: #bbb;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
		}

		.slider-area .active, .dot:hover {
			background-color: #717171;
		}

		.ps-search--header > input {
			padding: 0 20px;
			border: none;
			height: 40px;
			background-color: #e8e8e8;
			/* -webkit-border-radius: 40px; */
			-moz-border-radius: 40px;
			-ms-border-radius: 40px;
			border-radius: 40px;
			font-size: 13px;
			color: #767779;
		}

        .section-title {
	        text-align: center;
            margin: 10px 0px;
	        padding-right: 3%;
        }
        .section-title h2 {
	        font-size: 30px;
	        text-transform: capitalize;
	        position: relative;
	        color: #fe2222;
	        font-weight: 700;
	        margin-bottom: 10px;
	        padding-bottom: 15px;
            display: inline-block;
            top: 3px;
        }
        .section-title h2::before {
	        position: absolute;
            content: "";
            height: 2px;
            width: 42%;
            background: #f1491e;
            left: 36%;
            margin-left: -25px;
            bottom: 25px;
        }

        .section-title>h2>img{
            height: 80px;
            position: relative;
            bottom: 28px;
        }

        .section-title p {
	        font-size: 14px;
	        color: #666;
        }
	</style>
	<!--===============================================================================================-->
	<script src="~/public/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/bootstrap/js/popper.js"></script>
	<script src="~/public/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/public/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/slick/slick.min.js"></script>
	<script src="~/public/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function () { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function (e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function () {
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to cart !", "success");
			});
		});

	</script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="~/public/js/main.js"></script>
	<script src="~/public/admin/js/plugin/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //var end_date = $('#end_date').val();
        
            var DateExpired = new Date('2022-12-31').getTime();

            setInterval(function () {
            var CurrentDate = new Date().getTime();
            var DayRemaining = DateExpired - CurrentDate;
            var days = Math.floor(DayRemaining / (1000 * 60 * 60 * 24));
            var hours = Math.floor(DayRemaining / (1000 * 60 * 60));
            var minutes = Math.floor(DayRemaining / (1000 * 60));
            var seconds = Math.floor(DayRemaining / 1000);

            hours %= 24;
            minutes %= 60;
            seconds %= 60;
            if (hours   < 10)
            {
                hours   = "0"+hours;
            }
            if (minutes < 10)
            {
                minutes = "0"+minutes;
            }
            if (seconds < 10) 
            {
                seconds = "0"+seconds;
            }
            document.getElementById("days").innerText = days;
            document.getElementById("hours").innerText = hours;
            document.getElementById("minutes").innerText = minutes;
            document.getElementById("seconds").innerText = seconds;
            }, 1000);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sortOrder').on('change', function () {
                var url = $(/ProductListing/product_listing).val();
                if (url) {
                    window.location = url;
                }
                return false;
            })
        })

    </script>
    <script type="text/javascript">
        $('.brand-filter').click(function () {
            var brand = [], tempArray = [];
            $.each($("[data-filters='brand']:checked"), function () {
                tempArray.push($(this).val());

            });
            tempArray.reverse();
            if (tempArray.length !== 0) {
                brand += '?brand=' + tempArray.toString();
            }
            window.location.href = brand
        })

    </script>

    <script type="text/javascript">
        $('.subbrand-filter').click(function () {
            var subbrand = [], tempArray = [];
            $.each($("[data-filters='subbrand']:checked"), function () {
                tempArray.push($(this).val());

            });
            tempArray.reverse();
            if (tempArray.length !== 0) {
                subbrand += '?subbrand=' + tempArray.toString();
            }
            window.location.href = subbrand
        })

    </script>
    <script>
        $(document).ready(function () {
            load_cart();
            load_cart_quantity();
            setInterval(load_cart_quantity, 2000);
            $('body').on("click", ".delete-button-in-nav", function () {
                $(this).parent().remove();
                var ItemId = $(this).parent().find('.item-id-for-cart').val();
                $.ajax({
                    url: '/Cart/remove_item',
                    methed: "GET",
                    data: { id: ItemId },
                    success: function (data) {
                        load_cart();
                        load_cart_quantity();
                    },
                    error: function (data) {
                        alert('Lỗi');
                    }
                });
            });
        });
        function load_cart_quantity() {
            $.ajax({
                url: "/Home/load_cart_quantity",
                success: function (data) {
                    $('#so-luong-sp-gio-hang').html(data);
                },
                error: function (data) {
                    alert("Lỗi");
                }
            });
        }
        function load_cart() {
            $.ajax({
                url: "/Home/load_cart",
                success: function (data) {
                    $('#load_cart').html(data);
                },
                error: function (data) {
                    alert("Lỗi");
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $('a[title="Wishlist"]').click(function () {
                var customer_id = $('#input-customer-id').val();
                if (customer_id) {
                    var ProductId = $(this).parents('.button-head').find('.ProductId').val();
                    $.ajax({
                        url: "/Wishlist/add_product_to_wishlist",
                        method: "GET",
                        data: { ProductId: ProductId },
                        success: function (data) {
                            if (data == '1') {
                                swal({
                                    title: "Thành công",
                                    text: "Đã thêm sản phẩm vào danh sách yêu thích.",
                                    icon: "success",
                                    button: "OK",
                                });
                            }
                            else {
                                swal({
                                    text: "Sản phẩm đã tồn tại trong danh sách yêu thích",
                                    icon: "info",
                                    button: "OK",
                                });
                            }

                        },
                        error: function (data) {
                            alert("Lỗi");
                        }
                    });
                } else {
                    swal({
                        text: "Bạn cần đăng nhập để thêm sản phẩm vào danh sách yêu thích",
                        icon: "info",
                        buttons: ["OK", "Đăng nhập"],
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            window.location = "/Home/login";
                        }
                    })
                }

            });
        });
    </script>
    <script>
        $('body').on('click', '.btn-thanh-toan', function () {
            var numberOfProduct = Number($('#so-luong-sp-gio-hang').text());
            if (numberOfProduct == 0) {
                swal({
                    // title: "Giỏ hàng trống",
                    text: "Bạn vẫn chưa chọn sản phẩm nào để mua.",
                    // icon: "warning",
                    button: "OK",
                });
            }
            else {
                window.location.href = '/Checkout/Index';
            }
        });
    </script>
    <script>
        $('.add-to-cart-a-tag').click(function () {
            var productId = $(this).parent().find('input[type=text]').val();
            var Quantity = $(this).parent().find('.Quantity').val();
            if (Quantity >= 1) {
                $.ajax({
                    url: '/Cart/add_to_cart',
                    methed: "GET",
                    data: { ProductId: productId, Quantity: 1 },
                    success: function (data) {
                        load_cart();
                        swal({
                            title: "Thông báo",
                            text: "Đã thêm sản phẩm vào giỏ hàng!",
                            icon: "success",
                            buttons: ["Tiếp tục mua hàng", "Xem giỏ hàng"],
                        }).then(function (isConfirm) {
                            if (isConfirm) {
                                window.location = "/Cart/show_cart";
                            }
                        })
                    },
                    error: function (data) {
                        alert('Error');
                    }
                });
            }
            else {
                swal({
                    title: "Không thể thêm sản phẩm",
                    text: "Sản phẩm đã hết hàng",
                    icon: "warning",
                });
            }
        });
    </script>
    <script type="text/javascript">
        // Hàm load data vào dropdownbox Phường/Xã
        function load_xaphuong_dropdownbox() {
            var maqh = $(".select-quanhuyen").val();
            $.ajax({
                url: '/ShippingAddress/load_xaphuongthitran_dropdownbox',
                method: "GET",
                data: { maqh: maqh },
                success: function (data) {
                    $(".select-xaphuongthitran").html(data);
                },
                error: function (data) {
                    alert('Lỗi');
                }
            });
        }

        $(document).ready(function () {
            $('.select-tinhthanhpho').change(function () {
                var matp = $(this).val();
                $.ajax({
                    url: '/ShippingAddress/load_quanhuyen_dropdownbox',
                    method: "GET",
                    data: { matp: matp },
                    success: function (data) {
                        $(".select-quanhuyen").html(data);
                        load_xaphuong_dropdownbox();
                    },
                    error: function (data) {
                        alert('Lỗi');
                    }
                });
            });

            $('.select-quanhuyen').change(function () {
                load_xaphuong_dropdownbox();
            });
        });
    </script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <!-- Jquery -->
    <script src="~/public/client/js/jquery.min.js"></script>
    <script src="~/public/client/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/public/client/js/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="~/public/client/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/public/client/js/bootstrap.min.js"></script>
    <!-- Color JS -->
    <script src="~/public/client/js/colors.js"></script>
    <!-- Slicknav JS -->
    <script src="~/public/client/js/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/public/client/js/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/public/client/js/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="~/public/client/js/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/public/client/js/finalcountdown.min.js"></script>
    <!-- Nice Select JS
    <script src="~/public/client/js/nicesellect.js"></script> -->
    <!-- Flex Slider JS -->
    <script src="~/public/client/js/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/public/client/js/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="~/public/client/js/onepage-nav.min.js"></script>
    <!-- Easing JS -->
    <script src="~/public/client/js/easing.js"></script>
    <!-- Active JS -->
    <script src="~/public/client/js/active.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/gmap3.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/slick/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/elevatezoom/jquery.elevatezoom.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script>
    <script type="text/javascript" src="/public/client/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/public/client/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/public/ckeditor/ckeditor/ckeditor.js"></script>
    <!-- Custom scripts-->
    <script type="text/javascript" src="~/public/client/js/main.js"></script>
</body>
</html>

@RenderBody()
