@using System.Globalization;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	string adminId = HttpContextAccessor.HttpContext.Session.GetString("adminId");
	string customerId = HttpContextAccessor.HttpContext.Session.GetString("customerId");
	string customerFirstName = HttpContextAccessor.HttpContext.Session.GetString("customerFirstName");
	string customerLastName = HttpContextAccessor.HttpContext.Session.GetString("customerLastName");
	string customerImage = HttpContextAccessor.HttpContext.Session.GetString("customerImage");
	if (string.IsNullOrEmpty(customerImage))
	{
		customerImage = "default-user-icon.png";
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>@ViewData["Title"]</title>
	<!--File css của Tran  -->

	<link rel="stylesheet" href="~/public/client/css/tran.css">
	<!-- Favicon -->
	<link rel="icon" href="~/public/client/images/favi.png" />
	<!-- Fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">	<!-- StyleSheet -->
	<link rel="stylesheet" href="~/public/client/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/public/plugins/ps-icon/style.css">

	<!-- CSS Library-->
	<link rel="stylesheet" href="~/public/client/plugins/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/public/client/plugins/owl-carousel/assets/owl.carousel.css">
	<link rel="stylesheet" href="~/public/client/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
	<link rel="stylesheet" href="~/public/client/plugins/slick/slick/slick.css">
	<link rel="stylesheet" href="~/public/client/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="~/public/client/plugins/Magnific-Popup/dist/magnific-popup.css">
	<link rel="stylesheet" href="~/public/client/plugins/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="~/public/client/plugins/revolution/css/settings.css">
	<link rel="stylesheet" href="~/public/client/plugins/revolution/css/layers.css">
	<link rel="stylesheet" href="~/public/client/plugins/revolution/css/navigation.css">
	<!-- Custom-->
	<link rel="stylesheet" href="~/public/client/css/style.css">
	<link rel="stylesheet" href="~/public/client/css/themify-icons.css">
	<link rel="stylesheet" href="~/public/client/css/font-awesome.css">
	<link rel="stylesheet" href="~/public/client/css/reset.css">
	<link rel="stylesheet" href="~/public/client/css/responsive.css">
	<link rel="stylesheet" href="~/public/client/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/public/client/css/magnific-popup.min.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="~/public/client/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="~/public/client/css/themify-icons.css">
	<!-- Nice Select CSS -->
	<!-- <link rel="stylesheet" href="~/public/client/css/niceselect.css"> -->
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/public/client/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="~/public/client/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/public/client/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/public/client/css/slicknav.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/public/client/css/slicknav.min.css">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/public/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/public/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/public/css/main.css">
	<!--===============================================================================================-->
</head>
<body class="animsition">
	<header class="header">
		<nav class="navigation" style="height:60px; margin-bottom: 15px;">
			<div class="container-fluid">
				<div class="navigation__column left">
					<div class="header__logo pl-40"><a class="ps-logo" href="/Home/Index"><img src="~/public/images/icons/sport.png" alt=""></a></div>
					<input type="text" id="input-customer-id" value="@customerId" hidden><!--Đừng xóa cái này  -->
					<input type="text" id="input-admin-id" value="@adminId" hidden>
				</div>
				<div class="navigation__column center" style="height:60px; margin-bottom: 15px;">
					<ul class="main-menu menu">
						@*@foreach (var item in @ViewBag.AllCategory)
						{
							@if (item.GetType().GetProperty("CategoryId").GetValue(item, null) == "LT000")
							{
								<li class="menu-item menu-item-has-children has-mega-menu">
									<a href="/ProductListing/product_listing2?categoryId=@item.GetType().GetProperty("CategoryId").GetValue(item, null)" style="text-decoration:none">Laptop</a>
									<div class="mega-menu">
										<div class="mega-wrap">
											@foreach (var brand in @ViewBag.AllBrand)
											{
												@if (brand.GetType().GetProperty("CategoryId").GetValue(brand, null) == "LT000")
												{
													<div class="mega-column">
														<a href="/ProductListing/product_listing?brandId=@brand.GetType().GetProperty("BrandId").GetValue(brand, null)"> <h4 class="mega-heading">@brand.GetType().GetProperty("BrandName").GetValue(brand, null)</h4> </a>
														@foreach (var subbrand in @ViewBag.AllSubBrand)
														{
															@if (subbrand.GetType().GetProperty("BrandId").GetValue(subbrand, null) == brand.GetType().GetProperty("BrandId").GetValue(brand, null))
															{
																<ul class="mega-item">
																	<li><a href="/ProductListing/product_listing3?subbrandId=@subbrand.GetType().GetProperty("SubBrandId").GetValue(subbrand, null)">@subbrand.GetType().GetProperty("SubBrandName").GetValue(subbrand, null)</a></li>
																</ul>
															}}
													</div>
												}}
										</div>
									</div>
								</li>
							}}*@

						@*@foreach (var item in @ViewBag.AllCategory)
						{
							@if (item.GetType().GetProperty("CategoryId").GetValue(item, null) == "PC000")
							{
								<li class="menu-item menu-item-has-children has-mega-menu">
									<a href="/ProductListing/product_listing2?categoryId=@item.GetType().GetProperty("CategoryId").GetValue(item, null)" style="text-decoration:none">PC</a>
									<div class="mega-menu">
										<div class="mega-wrap">
											@foreach (var brand in @ViewBag.AllBrand)
											{
												@if (brand.GetType().GetProperty("CategoryId").GetValue(brand, null) == "PC000")
												{
													<div class="mega-column">
														<a href="/ProductListing/product_listing?brandId=@brand.GetType().GetProperty("BrandId").GetValue(brand, null)"> <h4 class="mega-heading">@brand.GetType().GetProperty("BrandName").GetValue(brand, null)</h4> </a>
														@foreach (var subbrand in @ViewBag.AllSubBrand)
														{
															@if (subbrand.GetType().GetProperty("BrandId").GetValue(subbrand, null) == brand.GetType().GetProperty("BrandId").GetValue(brand, null))
															{
																<ul class="mega-item">
																	<li><a href="/ProductListing/product_listing3?subbrandId=@subbrand.GetType().GetProperty("SubBrandId").GetValue(subbrand, null)">@subbrand.GetType().GetProperty("SubBrandName").GetValue(subbrand, null)</a></li>
																</ul>
															}}
													</div>
												}}
										</div>
									</div>
								</li>
							}}
						@foreach (var item in @ViewBag.AllCategory)
						{
							@if (item.GetType().GetProperty("CategoryId").GetValue(item, null) == "PK000")
							{
								<li class="menu-item"><a href="/ProductListing/product_listing2?categoryId=@item.GetType().GetProperty("CategoryId").GetValue(item, null)" style="text-decoration:none">Phụ Kiện</a></li>
							}}
						@foreach (var item in @ViewBag.AllCategory)
						{
							@if (item.GetType().GetProperty("CategoryId").GetValue(item, null) == "BL000")
							{
								<li class="menu-item"><a href="/Blog/all_blog" style="text-decoration:none">Tin Tức</a></li>
							}}*@
					</ul>
				</div>
				<div class="navigation__column right" style="height:60px; margin-bottom: 15px;">
					<form class="ps-search--header" action="/Home/search_result" name="timkiem" method="post">
						<input class="form-control" type="text" id="keyword" name="kw_submit" placeholder="Tìm kiếm" value="@ViewData["CurrentFilter"]">
						<button type="submit" name="submit" value="Search"><i class="fa fa-search"></i></button>
					</form>
					<div class="ps-cart">
						<a class="ps-cart__toggle" href="/Cart/show_cart" title="Giỏ hàng">
							<span><i id="so-luong-sp-gio-hang">0</i></span>
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						</a>
						<div class="ps-cart__listing">
							<div id="load_cart"></div>
						</div>
					</div>
					<div class="menu-toggle"><span></span></div>
					@if (!string.IsNullOrEmpty(customerId))
					{
						<a class="ps-cart__toggle" href="/Wishlist/Index"><i class="fa fa-heart-o" aria-hidden="true" title="Wish List"></i></a>
					}
					<div class="dropdown">
						<div class="nut_dropdown"><a href="/Home/login" class="ps-cart__toggle"><i class="fa fa-user-circle-o" title="Đăng Nhập"></i></a></div>
						<div class="noidung_dropdown">
							@if (!string.IsNullOrEmpty(customerId))
							{
								<a href="/Profile/profile">Tài khoản</a>
								<a href="/Order/my_orders">Đơn hàng của tôi</a>
								<a href="/customer">Kiểm tra bảo hành</a>
								<a href="/Home/Logout">Đăng xuất</a>
							}
						</div>
					</div>

				</div>
			</div>
		</nav>
	</header>

	@RenderBody()

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="~/public/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/public/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/public/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/public/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/public/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="~/public/images/icons/icon-close.png" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="~/public/images/product-detail-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="~/public/images/product-detail-01.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="~/public/images/product-detail-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="~/public/images/product-detail-02.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="~/public/images/product-detail-02.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="~/public/images/product-detail-02.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="~/public/~/public/images/product-detail-03.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="~/public/~/public/images/product-detail-03.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="~/public/images/product-detail-03.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>

							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--===============================================================================================-->
	<script src="~/public/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/bootstrap/js/popper.js"></script>
	<script src="~/public/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/public/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/slick/slick.min.js"></script>
	<script src="~/public/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function () { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function (e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function () {
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to cart !", "success");
			});
		});

	</script>
	<!--===============================================================================================-->
	<script src="~/public/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="~/public/js/main.js"></script>

</body>
</html>

@RenderBody()
