@using System.Globalization;
@{
    ViewData["Title"] = ViewBag.NameOfCategory.GetType().GetProperty("Name").GetValue(ViewBag.NameOfCategory, null);
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
<!-- Start Product Area -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 style="text-transform:none;">@ViewBag.NameOfCategory.GetType().GetProperty("Name").GetValue(ViewBag.NameOfCategory, null)</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="nav-main">
                        <!-- Tab Nav -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            @if (@ViewBag.NameOfCategory.GetType().GetProperty("Id").GetValue(ViewBag.NameOfCategory, null) == 1)
                            {
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab">Áo nam</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women" role="tab">Quần nam</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids" role="tab">Giày nam</a></li>
                            }
                            else
                            {
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab">Áo nữ</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women" role="tab">Quần nữ</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids" role="tab">Giày nữ</a></li>
                            }
                        </ul>
                        <!--/ End Tab Nav -->
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade show active" id="man" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    @foreach (var item in @ViewBag.ProductOfMenu1)
                                    {
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                            <div class="single-product">
                                                <div class="product-img" style="width: 250px; height: 200px;">
                                                    <a href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("Id").GetValue(item, null)">
                                                        <img class="default-img" style="margin: auto; max-width: 250px; max-height: 200px; width: auto; height: auto; " src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="">
                                                        <img class="hover-img" src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="">
                                                        @*@{
                                                            double so_ngay_da_moban = (DateTime.Now - item.GetType().GetProperty("StartsAt").GetValue(item, null)).TotalDays;
                                                        }*@
                                                        @if (item.GetType().GetProperty("Quantity").GetValue(item, null) < 1)
                                                        {
                                                            <span class="out-of-stock" style="background-color:#FF8C00;">Hết hàng</span>
                                                        }
                                                        @*@if (so_ngay_da_moban < 14)
                                                        {
                                                            <span class="new" style="right: 180px;">New</span>
                                                        }*@
                                                    </a>
                                                    <div class="button-head">
                                                        <div class="product-action">
                                                            @*<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Lượt xem: @item.GetType().GetProperty("View").GetValue(item, null)</span></a>*@
                                                            <a title="Wishlist" href="javascript:void(0)"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                            <input type="text" class="ProductId" value="@item.GetType().GetProperty("Id").GetValue(item, null)" hidden>
                                                        </div>
                                                        <div class="product-action-2">
                                                            <a title="Add to cart" class="add-to-cart-a-tag" href="javascript:void(0)">Thêm vào giỏ hàng</a>
                                                            <input type="text" value="@item.GetType().GetProperty("Id").GetValue(item, null)" hidden>
                                                            <input type="hidden" class="Quantity" value="@item.GetType().GetProperty("Quantity").GetValue(item, null)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3><a style="text-decoration: none; color: black;" href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("Id").GetValue(item, null)">@item.GetType().GetProperty("Name").GetValue(item, null)</a></h3>
                                                    <div class="product-price">
                                                        <span style="color:black; font-size:17px"><b>@item.GetType().GetProperty("Price_sale").GetValue(item, null).ToString("#,###", cul.NumberFormat) ₫</b></span>
                                                        @*@if (item.GetType().GetProperty("Discount").GetValue(item, null) > 0)
                                                        {
                                                            double dc = @item.GetType().GetProperty("Price").GetValue(item, null) + (@item.GetType().GetProperty("Price").GetValue(item, null) * (@item.GetType().GetProperty("Discount").GetValue(item, null)) / 100);
                                                            <br>
                                                            <span class="old">@dc.ToString("#,###", cul.NumberFormat) ₫</span>
                                                            <span class="o-giam-gia" style="font-size:10px">-@item.GetType().GetProperty("Discount").GetValue(item, null)% </span>
                                                        }*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                    <!--/<div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="product-detail.html">
                                                        <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                                        <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                                        <span class="new">New</span>
                                                    </a>
                                                    <div class="button-head">
                                                        <div class="product-action">
                                                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                            <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                        </div>
                                                        <div class="product-action-2">
                                                            <a title="Add to cart" href="#">Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3><a href="product-detail.html">Women Pant Collectons</a></h3>
                                                    <div class="product-price">
                                                        <span>$29.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade" id="women" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    @foreach (var item in @ViewBag.ProductOfMenu2)
                                    {
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                            <div class="single-product">
                                                <div class="product-img" style="width: 250px; height: 200px;">
                                                    <a href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("Id").GetValue(item, null)">
                                                        <img class="default-img" style="margin: auto; max-width: 250px; max-height: 200px; width: auto; height: auto; " src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="#">
                                                        <img class="hover-img" src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="#">
                                                        @{
                                                            //double so_ngay_da_moban = (DateTime.Now - item.GetType().GetProperty("StartsAt").GetValue(item, null)).TotalDays;
                                                        }
                                                        @if (item.GetType().GetProperty("Quantity").GetValue(item, null) < 1)
                                                        {
                                                            <span class="out-of-stock" style="background-color:#FF8C00;">Hết hàng</span>
                                                        }
                                                        @*@if (so_ngay_da_moban < 14)
                                                        {
                                                            <span class="new" style="right: 180px;">New</span>
                                                        }*@
                                                    </a>
                                                    <div class="button-head">
                                                        <div class="product-action">
@*                                                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Lượt xem: @item.GetType().GetProperty("View").GetValue(item, null)</span></a>
*@                                                            <a title="Wishlist" href="javascript:void(0)"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                            <input type="text" class="ProductId" value="@item.GetType().GetProperty("Id").GetValue(item, null)" hidden>
                                                        </div>
                                                        <div class="product-action-2">
                                                            <a title="Add to cart" class="add-to-cart-a-tag" href="javascript:void(0)">Thêm vào giỏ hàng</a>
                                                            <input type="text" value="@item.GetType().GetProperty("Id").GetValue(item, null)" hidden>
                                                            <input type="hidden" class="Quantity" value="@item.GetType().GetProperty("Quantity").GetValue(item, null)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3><a style="text-decoration: none; color: black;" href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("Id").GetValue(item, null)">@item.GetType().GetProperty("Name").GetValue(item, null)</a></h3>
                                                    <div class="product-price">
                                                        <span style="color:black; font-size:17px"><b>@item.GetType().GetProperty("Price_sale").GetValue(item, null).ToString("#,###", cul.NumberFormat) ₫</b></span>
                                                        @*@if (item.GetType().GetProperty("Discount").GetValue(item, null) > 0)
                                                        {
                                                            double dc = @item.GetType().GetProperty("Price").GetValue(item, null) + (@item.GetType().GetProperty("Price").GetValue(item, null) * (@item.GetType().GetProperty("Discount").GetValue(item, null)) / 100);
                                                            <br>
                                                            <span class="old">@dc.ToString("#,###", cul.NumberFormat) ₫</span>
                                                            <span class="o-giam-gia" style="font-size:10px">-@item.GetType().GetProperty("Discount").GetValue(item, null)% </span>
                                                        }*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade" id="kids" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    @foreach (var item in @ViewBag.ProductOfMenu3)
                                    {
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                            <div class="single-product">
                                                <div class="product-img" style="width: 250px; height: 200px;">
                                                    <a href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("Id").GetValue(item, null)">
                                                        <img class="default-img" style="margin: auto; max-width: 250px; max-height: 200px; width: auto; height: auto; " src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="#">
                                                        <img class="hover-img" src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="#">
                                                        @{
                                                            //double so_ngay_da_moban = (DateTime.Now - item.GetType().GetProperty("StartsAt").GetValue(item, null)).TotalDays;
                                                        }
                                                        @if (item.GetType().GetProperty("Quantity").GetValue(item, null) < 1)
                                                        {
                                                            <span class="out-of-stock" style="background-color:#FF8C00;">Hết hàng</span>
                                                        }
                                                        @*@if (so_ngay_da_moban < 14)
                                                        {
                                                            <span class="new" style="right: 180px;">New</span>
                                                        }*@
                                                    </a>
                                                    <div class="button-head">
                                                        <div class="product-action">
@*                                                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Lượt xem: @item.GetType().GetProperty("View").GetValue(item, null)</span></a>
*@                                                            <a title="Wishlist" href="javascript:void(0)"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                            <input type="text" class="ProductId" value="@item.GetType().GetProperty("Id").GetValue(item, null)" hidden>
                                                        </div>
                                                        <div class="product-action-2">
                                                            <a title="Add to cart" class="add-to-cart-a-tag" href="javascript:void(0)">Thêm vào giỏ hàng</a>
                                                            <input type="text" value="@item.GetType().GetProperty("Id").GetValue(item, null)" hidden>
                                                            <input type="hidden" class="Quantity" value="@item.GetType().GetProperty("Quantity").GetValue(item, null)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3><a style="text-decoration: none; color: black;" href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("Id").GetValue(item, null)">@item.GetType().GetProperty("Name").GetValue(item, null)</a></h3>
                                                    <div class="product-price">
                                                        <span style="color:black; font-size:17px"><b>@item.GetType().GetProperty("Price_sale").GetValue(item, null).ToString("#,###", cul.NumberFormat) ₫</b></span>
                                                        @*@if (item.GetType().GetProperty("Discount").GetValue(item, null) > 0)
                                                        {
                                                            double dc = @item.GetType().GetProperty("Price").GetValue(item, null) + (@item.GetType().GetProperty("Price").GetValue(item, null) * (@item.GetType().GetProperty("Discount").GetValue(item, null)) / 100);
                                                            <br>
                                                            <span class="old">@dc.ToString("#,###", cul.NumberFormat) ₫</span>
                                                            <span class="o-giam-gia" style="font-size:10px">-@item.GetType().GetProperty("Discount").GetValue(item, null)% </span>
                                                        }*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Area -->


<script type="text/javascript">
    $(document).ready(function () {
        $('.mySlides:first').css("display", "block"); // không có dòng này sẽ ko hiển bị banner đc
    });
</script>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
<script>
    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1 }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 4000); // Change image every 2 seconds
    }
</script>
<style>
    .star-wrapper {
        direction: rtl;
    }

        .star-wrapper a {
            font-size: 2em;
            color: #DEDDE3;
            text-decoration: none;
            transition: all 0.5s;
            margin: 4px;
        }
    /* .star-wrapper a:hover {
          color: gold;
          transform: scale(1.3);
        } */
    .wraper {
        position: absolute;
        bottom: 30px;
        right: 50px;
    }
</style>