@using System.Globalization;
@using SportswearShop_Ver2.Models;
@{
    ViewData["Title"] = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<SportswearShop_Ver2.Models.Product>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Thêm sản phẩm</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    @*<li class="nav-item">
                    <a href="#">Forms</a>
                    </li>*@
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    @*<li class="nav-item">
                    <a href="#">Basic Form</a>
                    </li>*@
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Điền thông tin sản phẩm</div>
                        </div>
                        <form role="form" action="/ProductManagement/save_new_product" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">Mã sản phẩm</label>
                                            <input type="text" name="Id" class="form-control" id="email2" value="@ViewBag.NextId" disabled>
                                            <input type="hidden" name="Id" class="form-control" id="email2" value="@ViewBag.NextId">
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">Tên sản phẩm</label>
                                            <input type="text" name="Name" class="form-control" id="email2" placeholder="Nhập tên sản phẩm" required>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">Danh mục sản phẩm</label>
                                            <select class="form-control" name="Menu_id" id="exampleFormControlSelect1" required>
                                                @foreach (var menu in @ViewBag.AllMenu)
                                                {
                                                    <option value="@menu.GetType().GetProperty("Id").GetValue(menu, null)">@menu.GetType().GetProperty("Name").GetValue(menu, null)</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">URL hình ảnh minh họa</label>
                                            <input type="url" name="Image" class="form-control" id="email2" placeholder="Nhập URL" required>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">Giá vốn</label>
                                            <input type="number" name="Original_price" class="form-control" id="email2" placeholder="Nhập giá vốn" required>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">Giá bán</label>
                                            <input type="number" name="Price_sale" class="form-control" id="email2" placeholder="Nhập giá bán" required>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">% giảm giá</label>
                                            <input type="number" name="Discount" class="form-control" id="email2" placeholder="Nhập % giảm giá" required>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">Số lượng nhập kho</label>
                                            <input type="number" name="Quantity" class="form-control" id="email2" placeholder="Nhập số lượng" required>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">Mô tả sơ lược</label>
                                            <input type="text" name="Description" class="form-control" id="email2" placeholder="Nhập mô tả sơ lược" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="email2">Nội dung sản phẩm</label>
                                            <textarea class="form-control" name="Content" id="ckeditor1" rows="5" placeholder="Nhập nội dung sản phẩm" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label d-block">Hiển thị</label>
                                            <div class="selectgroup selectgroup-secondary selectgroup-pills">
                                                <label class="selectgroup-item">
                                                    <input type="radio" name="Active" value="1" class="selectgroup-input" checked="">
                                                    <span class="selectgroup-button selectgroup-button-icon"><i class="fa fa-eye"></i></span>
                                                </label>
                                                <label class="selectgroup-item">
                                                    <input type="radio" name="Active" value="0" class="selectgroup-input">
                                                    <span class="selectgroup-button selectgroup-button-icon"><i class="fa fa-eye-slash"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" name="" class="btn btn-success">Thêm sản phẩm</button>
                                <button type="reset" class="btn btn-danger">Hủy</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>