@using System.Globalization;
@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewData["Title"] = "Địa chỉ giao hàng - ITGoShop";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="/">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="/Cart/show_cart">Giỏ hàng<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="/Checkout/Index">Thanh toán<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="/ShippingAddress/show_shipping_address">Địa chỉ giao hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default" style="margin: 20px 0px 0px 0px;">
                    <div class="panel-heading" style="background-color: #77ACF1;"><h4 style="color: white;"><b>Địa chỉ giao hàng</b></h4></div>
                    <div class="panel-body">
                        <p style="padding-bottom: 10px;">Chọn địa chỉ giao hàng có sẵn bên dưới:</p>
                        <div class="panel panel-default">
                            <div class="panel-body" style="border: 1px dashed; font-size: 14px">
                                <p style="float:right; color: red;"><i>Mặc định</i></p>
                                <h4 style="line-height: 1.8; "><b>@ViewBag.DefaultShippingAddress.GetType().GetProperty("ReceiverName").GetValue(@ViewBag.DefaultShippingAddress, null)</b></h4>
                                <p>Địa chỉ: @ViewBag.DefaultShippingAddress.GetType().GetProperty("Address").GetValue(@ViewBag.DefaultShippingAddress, null), @ViewBag.DefaultShippingAddress.GetType().GetProperty("XaPhuong").GetValue(@ViewBag.DefaultShippingAddress, null), @ViewBag.DefaultShippingAddress.GetType().GetProperty("QuanHuyen").GetValue(@ViewBag.DefaultShippingAddress, null), @ViewBag.DefaultShippingAddress.GetType().GetProperty("ThanhPho").GetValue(@ViewBag.DefaultShippingAddress, null)</p>
                                <p class="shippingPhone">Điện thoại: @ViewBag.DefaultShippingAddress.GetType().GetProperty("Phone").GetValue(@ViewBag.DefaultShippingAddress, null)</p>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-top: 4px;">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        @{int shippingAddressId = @ViewBag.DefaultShippingAddress.GetType().GetProperty("ShippingAddressId").GetValue(@ViewBag.DefaultShippingAddress, null);}
                                        <button type="button" style="padding: 15px; background-color: #333333; color: white;"><a href="/ShippingAddress/change_default_shipping_address?shippingAddressId=@shippingAddressId" style="text-decoration:none; color:white;">Giao đến địa chỉ này</a></button>
                                    </div>
                                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                                        <button type="button" class="button-sua-dia-chi" style="padding: 15px; background-color: white;">Sửa</button>
                                        <!-- Phần chứa data -->
                                        <input type="text" class="ShippingAddressId" value="@ViewBag.DefaultShippingAddress.GetType().GetProperty("ShippingAddressId").GetValue(@ViewBag.DefaultShippingAddress, null)" hidden>
                                        <input type="text" class="Phone" value="@ViewBag.DefaultShippingAddress.GetType().GetProperty("Phone").GetValue(@ViewBag.DefaultShippingAddress, null)" hidden>
                                        <input type="text" class="receiverName" value="@ViewBag.DefaultShippingAddress.GetType().GetProperty("ReceiverName").GetValue(@ViewBag.DefaultShippingAddress, null)" hidden>
                                        <input type="text" class="tinhThanhPho" value="@ViewBag.DefaultShippingAddress.GetType().GetProperty("ThanhPho").GetValue(@ViewBag.DefaultShippingAddress, null)" hidden>
                                        <input type="text" class="quanHuyen" value="@ViewBag.DefaultShippingAddress.GetType().GetProperty("QuanHuyen").GetValue(@ViewBag.DefaultShippingAddress, null)" hidden>
                                        <input type="text" class="xaPhuongThiTran" value="@ViewBag.DefaultShippingAddress.GetType().GetProperty("XaPhuong").GetValue(@ViewBag.DefaultShippingAddress, null)" hidden>
                                        <input type="text" class="diaChi" value="@ViewBag.DefaultShippingAddress.GetType().GetProperty("Address").GetValue(@ViewBag.DefaultShippingAddress, null)" hidden>
                                        <input type="text" class="addressType" value="@ViewBag.DefaultShippingAddress.GetType().GetProperty("ShippingAddressType").GetValue(@ViewBag.DefaultShippingAddress, null)" hidden>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @foreach (var item in ViewBag.ShippingAddressList)
                        {
                        <div class="panel panel-default">
                            <div class="panel-body" style="font-size: 14px">
                                <h4 style="line-height: 1.8;"><b>@item.GetType().GetProperty("ReceiverName").GetValue(item, null)</b></h4>
                                <p>Địa chỉ: @item.GetType().GetProperty("Address").GetValue(item, null), @item.GetType().GetProperty("XaPhuong").GetValue(item, null), @item.GetType().GetProperty("QuanHuyen").GetValue(item, null), @item.GetType().GetProperty("ThanhPho").GetValue(item, null)</p>
                                <p>Điện thoại: @item.GetType().GetProperty("Phone").GetValue(item, null)</p>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-top: 4px;">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <button type="button" style="padding: 15px; background-color: #333333; color: white;"><a href="/ShippingAddress/change_default_shipping_address?shippingAddressId=@item.GetType().GetProperty("ShippingAddressId").GetValue(item, null)" style="text-decoration:none; color:white;">Giao đến địa chỉ này</a></button>
                                    </div>
                                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                                        <button type="button" class="button-sua-dia-chi" style="padding: 15px; background-color: white;">Sửa</button>

                                        </div>
                                        <div class="btn-group" role="group" aria-label="Third group">
                                            <button type="button" class="button-xoa-dia-chi" style="padding: 15px; background-color: white;">Xóa</button>
                                            <!-- Phần chứa data -->
                                            <input type="text" class="ShippingAddressId" value="@item.GetType().GetProperty("ShippingAddressId").GetValue(item, null)" hidden>
                                            <input type="text" class="Phone" value="@item.GetType().GetProperty("Phone").GetValue(item, null)" hidden>
                                            <input type="text" class="receiverName" value="@item.GetType().GetProperty("ReceiverName").GetValue(item, null)" hidden>
                                            <input type="text" class="tinhThanhPho" value="@item.GetType().GetProperty("ThanhPho").GetValue(item, null)" hidden>
                                            <input type="text" class="quanHuyen" value="@item.GetType().GetProperty("QuanHuyen").GetValue(item, null)" hidden>
                                            <input type="text" class="xaPhuongThiTran" value="@item.GetType().GetProperty("XaPhuong").GetValue(item, null)" hidden>
                                            <input type="text" class="diaChi" value="@item.GetType().GetProperty("Address").GetValue(item, null)" hidden>
                                            <input type="text" class="addressType" value="@item.GetType().GetProperty("ShippingAddressType").GetValue(item, null)" hidden>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Form thêm địa chỉ mới -->
                <p style="padding: 20px 0px;">Bạn muốn giao hàng đến địa chỉ khác? <a href="javascript:void(0)" class="them-dia-chi-moi" style="color: #77ACF1;">Thêm địa chỉ giao hàng mới</a></p>
                <div class="panel panel-default" id="form-dia-chi-moi">
                    <div class="panel-heading" style="background-color: #77ACF1;"><h4 style="color: white;"><b>Thêm địa chỉ giao hàng</b></h4></div>
                    <form action="/ShippingAddress/add_shipping_address" method="post">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p><b>Tên người nhận</b></p>
                                        <input type="text" class="form-control" id="exampleInputEmail1" name="ReceiverName" aria-describedby="emailHelp" placeholder="Nhập tên người nhận">
                                    </div>
                                    <div class="form-group">
                                        <p><b>Điện thoại di động</b></p>
                                        <input type="text" class="form-control" id="exampleInputEmail1" name="Phone" aria-describedby="emailHelp" placeholder="Nhập số điện thoại">
                                    </div>
                                    <p><i>Để nhận hàng thuận tiện hơn, bạn vui lòng cho ITGoShop biết loại địa chỉ.</i> </p><br>
                                    <div class="ps-radio ps-radio--inline">
                                        <input class="form-control" type="radio" id="rdo01" name="ShippingAddressType" value="Nhà riêng/ Chung cư" checked>
                                        <label for="rdo01" style="font-size:14px">Nhà riêng/ Chung cư</label>
                                    </div>
                                    <div class="ps-radio ps-radio--inline">
                                        <input class="form-control" type="radio" name="ShippingAddressType" id="rdo02" value="Cơ quan/ Công ty">
                                        <label for="rdo02" style="font-size:14px">Cơ quan/ Công ty</label>
                                    </div>
                                </div>

                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p><b>Tỉnh/Thành phố</b></p>
                                            <select class="form-control select-tinhthanhpho" name="Matp" style="height:35px">
                                                <option>--- Chọn Tỉnh/Thành phố ---</option>
                                                @foreach (var item in ViewBag.AllThanhPho)
                                                {
                                                    <option value="@item.Matp">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <p><b>Quận/Huyện</b></p>
                                            <select class="form-control select-quanhuyen" name="Maqh" style="height:35px">
                                                <option>--- Chọn Quận/Huyện ---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p style="margin-top:13px"><b>Phường/Xã</b></p>
                                            <select class="form-control select-xaphuongthitran" style="height:35px" name="Xaid">
                                                <option>--- Chọn Phường/Xã ---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p style="margin-top:13px"><b>Địa chỉ</b></p>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" name="Address" rows="2" placeholder="Ví dụ: 14, Nguyễn Thị Minh Khai"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class='btn-toolbar' role='toolbar' aria-label='Toolbar with button groups' style='margin-top: 4px;'>
                                <div class='btn-group mr-2' role='group' aria-label='First group'>
                                    <button type='button' class='button-huy-bo' style='margin-right: 10px; padding: 15px; background-color: white;font-size: 14px;'>Hủy bỏ</button>
                                </div>
                                <div class='btn-group mr-2' role='group' aria-label='Second group'>
                                    <button type='submit' style='padding: 15px; background-color: #333333; color: white;font-size: 14px;'>Giao đến địa chỉ này</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Form thêm địa chỉ mới -->
                <!-- Form cập nhật địa chỉ -->
                <div class="panel panel-default" id="form-sua-dia-chi">
                    <div class="panel-heading" style="background-color: #77ACF1;"><h4 style="color: white;"><b>Cập nhật địa chỉ giao hàng</b></h4></div>
                    <form class="sua-dia-chi" action="/ShippingAddress/update_shipping_address" method="post">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p><b>Tên người nhận</b></p>
                                        <input type="text" class="form-control" id="input-ten-nguoi-nhan" name="ReceiverName" aria-describedby="emailHelp" placeholder="Nhập tên người nhận">
                                    </div>
                                    <div class="form-group">
                                        <p><b>Điện thoại di động</b></p>
                                        <input type="text" class="form-control" id="input-dien-thoai-di-dong" name="Phone" aria-describedby="emailHelp" placeholder="Nhập số điện thoại">
                                    </div>
                                    <p><i>Để nhận hàng thuận tiện hơn, bạn vui lòng cho ITGoShop biết loại địa chỉ.</i> </p><br>

                                    <input type="radio" name="ShippingAddressType" id="radioButtonAddressType1" value="Nhà riêng/ Chung cư">
                                    <label style="font-size:14px; margin-right: 30px;">Nhà riêng/ Chung cư</label>
                                    <input type="radio" name="ShippingAddressType" id="radioButtonAddressType2" value="Cơ quan/ Công ty">
                                    <label style="font-size:14px">Cơ quan/ Công ty</label>
                                </div>

                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p><b>Tỉnh/Thành phố</b></p>
                                            <select class="form-control select-tinhthanhpho" id="sua-tinhthanhpho" name="Matp" style="height:35px">
                                                <option>--- Chọn Tỉnh/Thành phố ---</option>
                                                @foreach (var item in ViewBag.AllThanhPho)
                                                {
                                                    <option value="@item.Matp">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <p><b>Quận/Huyện</b></p>
                                            <select class="form-control select-quanhuyen" id="sua-quanhuyen" name="Maqh" style="height:35px">
                                                <option>--- Chọn Quận/Huyện ---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p style="margin-top:13px"><b>Phường/Xã</b></p>
                                            <select class="form-control select-xaphuongthitran" id="Xaid" style="height:35px" name="Xaid">
                                                <option>--- Chọn Phường/Xã ---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p style="margin-top:13px"><b>Địa chỉ</b></p>
                                            <textarea class="form-control" id="input-dia-chi" name="Address" rows="2" placeholder="Ví dụ: 14, Nguyễn Thị Minh Khai"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class='btn-toolbar' role='toolbar' aria-label='Toolbar with button groups' style='margin-top: 4px;'>
                                <div class='btn-group mr-2' role='group' aria-label='First group'>
                                    <button type='button' class='button-huy-bo' style='margin-right: 10px; padding: 15px; background-color: white;font-size: 14px;'>Hủy bỏ</button>
                                </div>
                                <div class='btn-group mr-2' role='group' aria-label='Second group'>
                                    <button class="button-cap-nhat-dia-chi" style='padding: 15px; background-color: #333333; color: white;font-size: 14px;'>Cập nhật</button>
                                    <input type="text" id="input-shipping-address-id" name="ShippingAddressId" value="" hidden>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End form cập nhật địa chỉ -->
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#form-dia-chi-moi").slideUp();
        $("#form-sua-dia-chi").slideUp();

        $(".them-dia-chi-moi").click(function () {
            $("#form-sua-dia-chi").slideUp();
            $("#form-dia-chi-moi").slideDown();
        });

        $(".button-sua-dia-chi").click(function () {
            $("#form-dia-chi-moi").slideUp();
            $("#form-sua-dia-chi").slideDown();

            // Lấy data
            var parent = $(this).parent().parent().parent();
            var ShippingAddressId = parent.find('.ShippingAddressId').val();
            var receiverName = parent.find('.receiverName').val();
            var phone = parent.find('.Phone').val();
            var diachi = parent.find('.diaChi').val();
            var addressType = parent.find('.addressType').val();
            var tinhThanhPho = parent.find('.tinhThanhPho').val();
            var quanHuyen = parent.find('.quanHuyen').val();

            // alert("/update-shipping-address/'." + ShippingAddressId+ ")}}");
            // // Set up ShippingAddressId  cho form
            // $(".sua-dia-chi").attr('action', );

            // Đổ dữ liệu lên form
            $("#input-shipping-address-id").val(ShippingAddressId);
            $("#input-ten-nguoi-nhan").val(receiverName);
            $("#input-dien-thoai-di-dong").val(phone);
            $("#input-dia-chi").val(diachi);
            if (addressType == 'Nhà riêng/ Chung cư') {
                $("#radioButtonAddressType1").attr('checked', 'checked');
            }
            else {
                $("#radioButtonAddressType2").attr('checked', 'checked');
            }
            var matp;
            $('#sua-tinhthanhpho option').each(function () {
                if ($(this).text() == tinhThanhPho) {
                    matp = $(this).val();
                    $(this).attr('selected', true);
                    return false;
                }
            });

			$.ajax({
				url: '/ShippingAddress/load_quanhuyen_dropdownbox',
				method:"GET",
				data:{matp: matp},
				success:function(data)
				{
					$(".select-quanhuyen").html(data);
					load_xaphuong_dropdownbox();
				},
				error:function(data)
				{
					alert('Lỗi');
				}
			});
			$('#sua-quanhuyen option').each(function() {
                if($(this).text() == quanhuyen)
				{
					$(this).attr('selected', true);
					return false;
				}
            });
        });

        $(".button-huy-bo").click(function () {
            $("#form-dia-chi-moi").slideUp();
            $("#form-sua-dia-chi").slideUp();
        });

		$(".button-xoa-dia-chi").click( function(){
			var ShippingAddressId = $(this).parent().find('.ShippingAddressId').val();
			swal({
				title: "Xóa địa chỉ",
				text: "Bạn muốn xoá địa chỉ này ra khỏi sổ địa chỉ?",
				icon: "warning",
				buttons: ["Không", "Đồng ý"],
				dangerMode: true,
				})
				.then((willDelete) => {
				if (willDelete) {
					$(this).parent().parent().parent().parent().slideUp();
					$.ajax({
						url: '/ShippingAddress/delete_shipping_address',
						methed:"GET",
						data:{ShippingAddressId: ShippingAddressId},

                            success: function (data) {
                                swal("Đã xóa địa chỉ thành công!",
                                    {
                                        icon: "success",
                                    });
                            },
                            error: function (data) {
                                alert('Lỗi');
                            }
                        });
                    }
                });
        });

        // $(".button-cap-nhat-dia-chi").click( function(){
        // 	$("#form-sua-dia-chi").slideUp();
        // 	var ShippingAddressId = $("#input-shipping-address-id").val();


        // 	// var ReceiverName = $("#input-ten-nguoi-nhan").val();
        // 	// var Phone = $("#input-dien-thoai-di-dong").val();
        // 	// var Address = $("#input-dia-chi").val();
        // 	// var AddressType = $("input[name='addressType']:checked").val();
        // 	// $.ajax({
        // 	// 	url: '/update-shipping-address',
        // 	// 	methed:"GET",
        // 	// 	data:{ShippingAddressId:ShippingAddressId, ReceiverName:ReceiverName, Phone:Phone, Address:Address, AddressType:AddressType},

        // 	// 	success:function(data)
        // 	// 	{
        // 	// 		swal("Cập nhật địa chỉ thành công!",
        // 	// 		{
        // 	// 			icon: "success",
        // 	// 		});
        // 	// 	},
        // 	// 	error:function(data)
        // 	// 	{
        // 	// 		alert('Lỗi');
        // 	// 	}
        // 	// });
        // });
    });
</script>