@using System.Globalization;
@using SportswearShop_Ver2.Models;
@{
    ViewData["Title"] = "Cập nhật banner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<SportswearShop_Ver2.Models.Banner>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Cập nhật banner slider</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    @*<li class="nav-item">
                    <a href="#">Forms</a>
                    </li>*@
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    @*<li class="nav-item">
                    <a href="#">Basic Form</a>
                    </li>*@
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Sửa thông tin banner ID:@ViewBag.BannerInfo.Id</div>
                        </div>
                        <form role="form" action="/BannerManagement/save_update_banner" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">Mã banner</label>
                                            <input type="text" name="Id" class="form-control" id="email2" value="@ViewBag.BannerInfo.Id" disabled>
                                            <input type="hidden" name="Id" class="form-control" id="email2" value="@ViewBag.BannerInfo.Id">
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">Tên banner</label>
                                            <input type="text" name="Name" class="form-control" id="email2" value="@ViewBag.BannerInfo.Name" required>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email2">URL</label>
                                            <input type="url" name="Url" class="form-control" id="email2" value="@ViewBag.BannerInfo.Url" required>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">Ảnh minh họa</label>
                                            <input type="file" name="Image" class="form-control-file" id="exampleFormControlFile1">
                                            <img src="@ViewBag.BannerInfo.Image" style="margin: auto; max-width: 200px; max-height: 200px; width: auto; height: auto;">
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Thứ tự sắp xếp</label>
                                            <input type="number" min="0" name="Sort_by" class="form-control" id="email2" value="@ViewBag.BannerInfo.Sort_by" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label d-block">Hiển thị</label>
                                            @if (ViewBag.BannerInfo.Active == 1)
                                            {
                                                <div class="selectgroup selectgroup-secondary selectgroup-pills">
                                                    <label class="selectgroup-item">
                                                        <input type="radio" name="Active" value="1" class="selectgroup-input" checked="">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fa fa-eye"></i></span>
                                                    </label>
                                                    <label class="selectgroup-item">
                                                        <input type="radio" name="Active" value="0" class="selectgroup-input">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fa fa-eye-slash"></i></span>
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="selectgroup selectgroup-secondary selectgroup-pills">
                                                    <label class="selectgroup-item">
                                                        <input type="radio" name="Active" value="1" class="selectgroup-input">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fa fa-eye"></i></span>
                                                    </label>
                                                    <label class="selectgroup-item">
                                                        <input type="radio" name="Active" value="0" class="selectgroup-input" checked="">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fa fa-eye-slash"></i></span>
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" name="" class="btn btn-success">Cập nhật banner slider</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><a href="/BannerManagement/view_banner" style="text-decoration:none; color:white">Hủy</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>