@using System.Globalization;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    DateTime firstDateOfThisMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);

    // Cái này để format tiền
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
@Model
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">PHÂN TÍCH BÁN HÀNG</h2>
                        <a class="text-white fw-bold" style="margin-right: 8px;">Khung thời gian: </a>
                        <div class="ml-md-auto py-2 py-md-3">
                            <a class="btn btn-white btn-border mr-2" style="padding: 0.4rem">
                                <span class="btn-label"><i class="fas fa-calendar-alt"></i></span>
                                Từ ngày: <input type="date" class="form-control" id="tu-ngay" min="2020-01-01" style="display:inline-block; width: 65%;" required>
                            </a>
                            <a class="btn btn-white btn-border mr-2" style="padding:  0.4rem">
                                <span class="btn-label">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                                Đến ngày: <input type="date" class="form-control" id="den-ngay" min="2020-01-01" style="display:inline-block; width: 65%;" required>
                            </a>
                            <a class="btn btn-white btn-border mr-2" style="padding:  0.5rem">
                                <span class="btn-label">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                                Lọc theo:
                                <select name="" id="sel-loc-theo" class="form-control" style="display:inline-block; width: 62%; margin">
                                    <option>----Chọn----</option>
                                    <option value="7ngay">7 ngày qua</option>
                                    <option value="thangtruoc">Tháng trước</option>
                                    <option value="thangnay">Tháng này</option>
                                    <option value="namqua">1 năm qua</option>
                                </select>
                                <!-- <input type="date" class="form-control" id="den-ngay" min="2020-01-01" style="display:inline-block; width: 65%;" required> -->
                            </a>
                        </div>
                        <div class="ml-md-auto py-2 py-md-3">


                            <button type="button" id="btn-hien-thi-thong-ke" class="btn btn-success" style=" background: #39A2DB !important; padding: 10px;">Hiển thị kết quả</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row row-card-no-pd mt--2">
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <!-- <i class="flaticon-chart-pie text-warning"></i> -->
                                        <i class="fas fa-users text-warning"></i>
                                    </div>
                                </div>

                                <div class="col-7 col-stats">
                                    <div class="numbers">

                                        <p class="card-category">Khách hàng</p>

                                        <h4 class="card-title">@ViewBag.numberCustomer <div class="float-right text-warning"></div></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <!-- <i class="flaticon-coins text-success"></i> -->
                                        <i class="fas fa-boxes text-success"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <div class="numbers">
                                        <p class="card-category">Sản phẩm</p>
                                        <h4 class="card-title">@ViewBag.numberProduct</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <!-- <i class="flaticon-error text-danger"></i> -->
                                        <i class="fas fa-shopping-cart  text-danger"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <div class="numbers">
                                        <p class="card-category">Đơn hàng</p>
                                        <h4 class="card-title">@ViewBag.numberOrder</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <!-- <i class="flaticon-twitter text-primary"></i> -->
                                        <i class="fas fa-dollar-sign text-primary"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <div class="numbers">
                                        <p class="card-category">Tổng doanh thu</p>
                                        <h4 class="card-title">@ViewBag.totalRevenue.ToString("0,000", cul.NumberFormat)</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row mt--2">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Chỉ số quan trọng</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-1"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Doanh Thu</h6>
                                </div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-2"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Đơn hàng</h6>
                                </div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-3"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Lượt truy cập</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title">Biểu đồ doanh thu</div>
                                <div class="card-tools">
                                    <a target="_blank" rel="noopener noreferrer" id="print-revenue-report" href="~/Report/print_revenue_report" class="btn btn-info btn-border btn-round btn-sm">
                                        <span class="btn-label">
                                            <i class="fa fa-print"></i>
                                        </span>
                                        In thống kê doanh thu Bán hàng
                                    </a>
                                    @*<a target="_blank" rel="noopener noreferrer" id="print-customer-report" href="~/Report/print_customer_report" class="btn btn-info btn-border btn-round btn-sm">
                                        <span class="btn-label">
                                            <i class="fa fa-print"></i>
                                        </span>
                                        In thống kê doanh thu Khách hàng
                                    </a>*@
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-container" style="min-height: 375px">
                                <div id="bieuDoDoanhThu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="card-title">Doanh thu tháng @DateTime.Now.Month</div>
                            <div class="card-category">@firstDateOfThisMonth.ToString("MMMM dd, yyyy") - @DateTime.Now.ToString("MMMM dd, yyyy")</div>
                        </div>
                        <div class="card-body pb-0">
                            <div class="mb-4 mt-2">
                                <h1>@ViewBag.totalRevenueThisMonth.ToString("0,000", cul.NumberFormat) ₫</h1>
                            </div>
                            <!-- <div class="pull-in">
                                <canvas id="dailySalesChart"></canvas>
                            </div> -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="h1 fw-bold float-right text-warning"></div>
                            <h2 class="mb-2">@ViewBag.numberOrderToday</h2>
                            <p class="text-muted">Số đơn hàng mới hôm nay</p>
                            <div class="pull-in sparkline-fix">
                                <!-- <div id="lineChart"></div> -->
                            </div>
                        </div>
                    </div>
                    @*<div class="card">
                        <div class="card-body pb-0">
                            <div class="h1 fw-bold float-right text-warning">(+30%)</div>
                            <h2 class="mb-2">@ViewBag.numberLoginToday</h2>
                            <p class="text-muted">Lượt truy cập hôm nay</p>
                            <div class="pull-in sparkline-fix">
                                <!-- <div id="lineChart"></div> -->
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title">Thống kê tình trạng đơn hàng<p class="text-muted">30 ngày gần đây</p></div>

                                @*<div class="card-tools">
                                    <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
                                        <span class="btn-label">
                                            <i class="fa fa-pencil"></i>
                                        </span>
                                        Export
                                    </a>
                                    <a href="#" class="btn btn-info btn-border btn-round btn-sm">
                                        <span class="btn-label">
                                            <i class="fa fa-print"></i>
                                        </span>
                                        Print
                                    </a>
                                </div>*@

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-container">
                                <form>
                                    @*@csrf*@
                                    <div id="pieChart" style="height: 250px;"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <?php $last_month = date("m",strtotime("-1 month"));
                        $now_month = date('m');
                        ?>
                        <div class="card-header">
                            <div class="card-title"><i class="fas fa-fire" style="color:red;"></i> Top sản phẩm bán chạy</div>
                            <small class="text-muted">Tháng @DateTime.Now.AddMonths(-1).Month và tháng @DateTime.Now.Month</small>
                            <a target="_blank" style="float:right" rel="noopener noreferrer" id="print-product-report" href="~/Report/print_product_report" class="btn btn-info btn-border btn-round btn-sm">
                                <span class="btn-label">
                                    <i class="fa fa-print"></i>
                                </span>
                                In thống kê sản phẩm
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive table-hover table-sales">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Sản phẩm</th>
                                                    <th>Doanh thu đem lại</th>
                                                    <th class="text-right">Số sản phẩm bán được</th>
                                                    <th class="text-right">Số sản phẩm còn lại</th>
                                                    <!-- Số sản phẩm còn lại để biết cần nhập thêm nữa không -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in @ViewBag.topProducts)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="avatar">
                                                                <img src="@item.GetType().GetProperty("ProductImage").GetValue(item, null)" alt="..." class="avatar-img rounded">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <h6 class="fw-bold mb-1"><a href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("ProductId").GetValue(item, null)">@item.GetType().GetProperty("ProductName").GetValue(item, null)</a></h6>
                                                        </td>
                                                        <td>
                                                            <h4 class="text-info fw-bold">+@item.GetType().GetProperty("DoanhThuDemLai").GetValue(item, null).ToString("0,000", cul.NumberFormat) ₫</h4>
                                                        </td>
                                                        <td class="text-right">
                                                            <h4 class="text-info fw-bold"> @item.GetType().GetProperty("SoLuongBanRa").GetValue(item, null)</h4>
                                                        </td>
                                                        <td class="text-right">
                                                            <h4 class="text-info">@item.GetType().GetProperty("SoLuongConTon").GetValue(item, null)</h4>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            load_pie_chart();
            load_default_chart();

            setInterval(load_pie_chart, 5000);
            var pie_chart = new Morris.Donut({
                element: 'pieChart',
                resize: true,
                colors: ['#819C79', '#fc8710', '#FF6541', '#A4ADD3', '#766B56'],
                data: [
                    { label: 'Hoàn thành', value: 1 }
                ],
            });

            function load_pie_chart() {
                $.ajax({
                    url: "/Admin/load_pie_chart",
                    dataType: "json",
                    success: function (data) {
                        pie_chart.setData(data);
                    },
                    error: function (data) {
                        swal({
                            text: "Không tìm thấy dữ liệu",
                            icon: "error",
                        });
                    }
                });
            }

            var chart = new Morris.Bar({
                element: 'bieuDoDoanhThu',
                lineColors: ['#819C79', '#fc8710', '#FF6541', '#A4ADD3', '#766B56'],
                pointFillColors: ['#ffffff'],
                pointStrokeColors: ['black'],
                fillOpacity: 0.6,
                hideHover: 'auto',
                parseTime: false,
                xkey: 'period',
                ykeys: ['profit'],
                behaveLikeLine: true,
                labels: ['Doanh thu']
            });

            function load_default_chart() {
                $.ajax({
                    url: "/Admin/load_default_chart",
                    dataType: "json",
                    success: function (data) {
                        chart.setData(data);
                    },
                    error: function (data) {
                        swal({
                            text: "Không tìm thấy dữ liệu",
                            icon: "error",
                        });
                    }
                });
            }
            $('#sel-loc-theo').change(function () {
                var time_span = $('#sel-loc-theo').val();
                if (time_span != '----Chọn----') {
                    $.ajax({
                        url: "/Admin/filter_by_time_span",
                        dataType: "json",
                        data: { time_span: time_span },
                        success: function (data) {
                            chart.setData(data);
                        },
                        error: function (data) {
                            swal({
                                text: "Không tìm thấy dữ liệu",
                                icon: "error",
                            });
                        }
                    });
                }


            });

            $('#btn-hien-thi-thong-ke').click(function () {
                var tu_ngay = $('#tu-ngay').val();
                var den_ngay = $('#den-ngay').val();
                if (!tu_ngay || !den_ngay) {
                    swal({
                        text: "Vui lòng chọn thời gian báo cáo",
                        icon: "info",
                    });
                }
                else if (den_ngay < tu_ngay) {
                    swal({
                        text: "Ngày báo cáo không hợp lệ! Vui lòng nhập lại",
                        icon: "info",
                    });
                }
                else {
                    $.ajax({
                        url: "/Admin/filter_by_date",
                        dataType: "json",
                        data: { tu_ngay: tu_ngay, den_ngay: den_ngay },
                        success: function (data) {
                            chart.setData(data);
                            var newURL = "/Report/print_revenue_report?tu_ngay=tu-ngay&den_ngay=den-ngay";
                            newURL = newURL.replace('tu-ngay', tu_ngay);
                            newURL = newURL.replace('den-ngay', den_ngay);
                            $('#print-revenue-report').attr("href", newURL);
                        },
                        error: function (data) {
                            swal({
                                text: "Không tìm thấy dữ liệu",
                                icon: "error",
                            });
                        }
                    });
                }
            });


        });
    </script>
