@using System.Globalization;
@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<<<<<<< HEAD
@*<div id="loader">
    <div class="loader-inner">
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
    </div>
    <div class="load">Loading . . . </div>
</div>*@
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/template/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        LIÊN HỆ
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-60">
=======
<!-- Breadcrumbs -->
<div class="breadcrumbs">
>>>>>>> 70f98aa59511099acd1267a8cd4a9c1ff279546a
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a>Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a>Tất cả bài đăng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<div class="ps-blog-grid pt-80 pb-80">
    <div class="ps-container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                @foreach (var item in @ViewBag.AllBlog)
                {
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  " style="height: 400px; width: 570px">
                        <div class="ps-post">
                            <div class="ps-post__thumbnail"><a class="ps-post__overlay"></a><img src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt=""></div>
                            <div class="ps-post__content">
                                <a class="ps-post__title" href="/Blog/blog_detail?blogId=@item.GetType().GetProperty("BlogId").GetValue(item, null)">@item.GetType().GetProperty("Title").GetValue(item, null)</a>
                                <p class="ps-post__meta"><span>By:<a class="mr-5">@item.GetType().GetProperty("Author").GetValue(item, null)</a></span>-<span class="ml-3">@item.GetType().GetProperty("DateCreate").GetValue(item, null)</span></p>
                                <p>@item.GetType().GetProperty("Summary").GetValue(item, null)</p><a class="ps-morelink" href="/Blog/blog_detail/@item.GetType().GetProperty("BlogId").GetValue(item, null)">Đọc tiếp<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!--<div class="ps-product-action" >
          <div class="ps-pagination">
            <ul class="pagination">
              <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>-->

    </div>
</div>

