@using System.Globalization;
@{
    ViewData["Title"] = "SportswearShop";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}

<section class="bg0 p-t-23 p-b-140">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5">
				TẤT CẢ SẢN PHẨM
			</h3>
		</div>
		<div class="row isotope-grid">
			@foreach (var item in ViewBag.Allproduct)
			{
				<div class="col-xl-3 col-lg-4 col-md-4 col-12 isotope-item women">
					<div class="single-product">
						<div class="product-img hov-img0 b-r-15">
							<a href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("Id").GetValue(item, null)">
								<img class="default-img" src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="#">
								<img class="hover-img" src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="#">
								@*@{
							double so_ngay_da_moban = (DateTime.Now - item.GetType().GetProperty("StartsAt").GetValue(item, null)).TotalDays;
							}*@
								@if (item.GetType().GetProperty("Quantity").GetValue(item, null) < 1)
								{
									<span class="out-of-stock" style="background-color:#FF8C00;">Hết hàng</span>
								}
								@*@if (so_ngay_da_moban < 14)
							{
							<span class="new" style="right: 180px;">New</span>
							}*@
							</a>
							<div class="button-head">
								<div class="product-action">
									@*<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Lượt xem: @item.GetType().GetProperty("View").GetValue(item, null)</span></a>*@
									<a title="Wishlist" href="javascript:void(0)"><i class=" ti-heart "></i><span>Yêu thích</span></a>
									<input type="text" class="ProductId" value="@item.GetType().GetProperty("Id").GetValue(item, null)" hidden>
								</div>
								<div class="product-action-2">
									<a title="Add to cart" class="add-to-cart-a-tag" href="javascript:void(0)">Thêm vào giỏ hàng</a>
									<input type="text" value="@item.GetType().GetProperty("Id").GetValue(item, null)" hidden>
									<input type="hidden" class="Quantity" value="@item.GetType().GetProperty("Quantity").GetValue(item, null)">
								</div>
							</div>
						</div>
						<div class="product-content">
							<h3><a class="limit-text-2" style="text-decoration: none" href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("Id").GetValue(item, null)">@item.GetType().GetProperty("Name").GetValue(item, null)</a></h3>
							<div class="product-price">
								<span style="color:black; font-size:15px"><b>@item.GetType().GetProperty("Price_sale").GetValue(item, null).ToString("#,###", cul.NumberFormat) ₫</b></span>
								@if (item.GetType().GetProperty("Discount").GetValue(item, null) > 0)
								{
									double dc = @item.GetType().GetProperty("Price_sale").GetValue(item, null) + (@item.GetType().GetProperty("Price_sale").GetValue(item, null) * (@item.GetType().GetProperty("Discount").GetValue(item, null)) / 100);
									<br>
									<span class="old">@dc.ToString("#,###", cul.NumberFormat) ₫</span>
									<span class="o-giam-gia">- @item.GetType().GetProperty("Discount").GetValue(item, null)% </span>
								}
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>