@using System.Globalization;
@{
    ViewData["Title"] = "SportswearShop";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}

<!-- Slider -->
<section class="section-slide">
	<div class="wrap-slick1">
		<div class="slick1">
			@foreach (var item in ViewBag.SliderForHomePage)
			{
				<div class="item-slick1" style="background-image: url(@item.GetType().GetProperty("Image").GetValue(item, null));">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
							@*<span class="ltext-101 cl2 respon2">
								Women Collection 2018
							</span>*@
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
							@*<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
								NEW SEASON
							</h2>*@
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
							@*<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>*@
						</div>
					</div>
				</div>
			</div>
			}
		</div>
	</div>
</section>

<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
	<div class="container">
		<div class="row">
			@foreach(var item in ViewBag.BannerForHomePage)
			{
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
					<div class="block1 wrap-pic-w b-r-15">
						<img class="b-r-15" src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="IMG-BANNER">

						<a href="/ProductListing/Product_Listing1?categoryId=@item.GetType().GetProperty("Id").GetValue(item, null)" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3 b-r-15">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									@item.GetType().GetProperty("Name").GetValue(item, null)
								</span>

								<span class="block1-info stext-102 trans-04">
									HOT SUMMER 2022
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			}
		</div>
	</div>
</div>
<!-- Sales -->
<div class="product-area most-popular section p-t-30 p-b-50" style="background-color: #F6FCFF">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title" style="margin-bottom: 0px;">
                    <h2 style="text-transform:none;">
                        <img src="~/public/client/Images/fire.gif" alt="">Giảm giá sốc
                        <img src="~/public/client/Images/fire.gif" alt="">
                    </h2>
					<div class="countdown">
						<img class="img-rotate-1" src="~/public/client/Images/flashsale.png" alt="IMG">
						<div class="timer">
							<span id="days"></span>
						</div>
						<div class="timer">
							<span id="hours"></span>
						</div>
						<div class="timer">
							<span id="minutes"></span>
						</div>
						<div class="timer">
							<span id="seconds"></span>
						</div>
					</div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 p-b-20" style="background-color: white;border-radius: 30px">
                <div class="owl-carousel popular-slider">
                    @foreach (var item in ViewBag.GiamGiaSoc)
                    {
                        <div class="single-product">
                            <div class="product-img hov-img0 b-r-15">
                                <a href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("ProductId").GetValue(item, null)">
                                    <img class="default-img" src="@item.GetType().GetProperty("ProductImage").GetValue(item, null)" alt="#">
                                    <img class="hover-img" src="@item.GetType().GetProperty("ProductImage").GetValue(item, null)" alt="">
                                    <span class="out-of-stock">GIẢM @item.GetType().GetProperty("Discount").GetValue(item, null)%</span>
                                    @{double so_ngay_da_moban = (DateTime.Now - item.GetType().GetProperty("StartsAt").GetValue(item, null)).TotalDays;}
                                    @if (item.GetType().GetProperty("Quantity").GetValue(item, null) < 1)
                                    {
                                        <span class="out-of-stock" style="background-color:#FF8C00;">Hết hàng</span>}
                                    @if (@so_ngay_da_moban < 14)
                                    {
                                        <span class="new" style="right: 180px;">New</span>}
                                </a>
                                <div class="button-head">
                                    <div class="product-action-2">
                                        <a title="Add to cart" class="add-to-cart-a-tag" href="javascript:void(0)">Thêm vào giỏ hàng</a>
                                        <input type="text" value="@item.GetType().GetProperty("ProductId").GetValue(item, null)" hidden>
                                        <input type="hidden" class="Quantity" value="@item.GetType().GetProperty("Quantity").GetValue(item, null)">
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a style="text-decoration: none;" class="limit-text-2" href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("ProductId").GetValue(item, null)"><b style="font-size:17px">@item.GetType().GetProperty("ProductName").GetValue(item, null)</b></a></h3>
                                
                                <div class="product-price">
                                    <span style="color:red; font-size:17px"><b>@item.GetType().GetProperty("Price").GetValue(item, null).ToString("#,###", cul.NumberFormat) ₫</b></span>
                                    <br>
									@{
										double dc = @item.GetType().GetProperty("Price").GetValue(item, null) + (@item.GetType().GetProperty("Price").GetValue(item, null) * (@item.GetType().GetProperty("Discount").GetValue(item, null)) / 100);
									}
									<span class="old">@dc.ToString("#,###", cul.NumberFormat) ₫</span>
									
								</div>
                            </div>
                        </div>
					}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5">
				TỔNG QUAN SẢN PHẨM
			</h3>
		</div>

		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
					TẤT CẢ SẢN PHẨM
				</button>
			</div>
		</div>
		<div class="row isotope-grid">
			@foreach (var item in ViewBag.ProductForHomePage)
			{
				<div class="col-xl-3 col-lg-4 col-md-4 col-12 isotope-item women">
					<div class="single-product">
						<div class="product-img hov-img0 b-r-15">
							<a href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("Id").GetValue(item, null)">
								<img class="default-img" src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="#">
								<img class="hover-img" src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="#">
								@*@{
							double so_ngay_da_moban = (DateTime.Now - item.GetType().GetProperty("StartsAt").GetValue(item, null)).TotalDays;
							}*@
								@if (item.GetType().GetProperty("Quantity").GetValue(item, null) < 1)
								{
									<span class="out-of-stock" style="background-color:#FF8C00;">Hết hàng</span>
								}
								@*@if (so_ngay_da_moban < 14)
							{
							<span class="new" style="right: 180px;">New</span>
							}*@
							</a>
							<div class="button-head">
								<div class="product-action">
									@*<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Lượt xem: @item.GetType().GetProperty("View").GetValue(item, null)</span></a>*@
									<a title="Wishlist" href="javascript:void(0)"><i class=" ti-heart "></i><span>Yêu thích</span></a>
									<input type="text" class="ProductId" value="@item.GetType().GetProperty("Id").GetValue(item, null)" hidden>
								</div>
								<div class="product-action-2">
									<a title="Add to cart" class="add-to-cart-a-tag" href="javascript:void(0)">Thêm vào giỏ hàng</a>
									<input type="text" value="@item.GetType().GetProperty("Id").GetValue(item, null)" hidden>
									<input type="hidden" class="Quantity" value="@item.GetType().GetProperty("Quantity").GetValue(item, null)">
								</div>
							</div>
						</div>
						<div class="product-content">
							<h3><a class="limit-text-2" style="text-decoration: none" href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("Id").GetValue(item, null)">@item.GetType().GetProperty("Name").GetValue(item, null)</a></h3>
							<div class="product-price">
								<span style="color:black; font-size:17px"><b>@item.GetType().GetProperty("Price_sale").GetValue(item, null).ToString("#,###", cul.NumberFormat) ₫</b></span>
								@if (item.GetType().GetProperty("Discount").GetValue(item, null) > 0)
								{
									double dc = @item.GetType().GetProperty("Price_sale").GetValue(item, null) + (@item.GetType().GetProperty("Price_sale").GetValue(item, null) * (@item.GetType().GetProperty("Discount").GetValue(item, null)) / 100);
								<br>
								<span class="old">@dc.ToString("#,###", cul.NumberFormat) ₫</span>
								<span class="o-giam-gia">- @item.GetType().GetProperty("Discount").GetValue(item, null)% </span>
								}
							</div>
						</div>
					</div>
				</div>
			}
		</div>

		<!-- Load more -->
		<div class="flex-c-m flex-w w-full p-t-45">
			<a href="/Home/All_product" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04 b-r-15">
				Xem thêm
			</a>
		</div>
	</div>
</section>
<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
    <h3 class="ltext-106 cl5 txt-center">
        Blog
    </h3>
</div>
<!-- Start Shop Blog  -->
<section class="shop-blog section p-t-30">
	<div class="container">
		<div class="row">
			@foreach (var item in @ViewBag.Blog)
			{
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Start Single Blog  -->
					<div class="shop-single-blog" href="/Blog/blog_detail?blogId=@item.GetType().GetProperty("BlogId").GetValue(item, null)">
						<img style="margin: auto; max-width: 330px; max-height: 300px; width: auto; height: auto;" src="@item.GetType().GetProperty("Image").GetValue(item, null)" alt="#">
						<div class="content" style="text-align: justify; text-decoration:none;">
							<a class="title" href="/Blog/blog_detail?blogId=@item.GetType().GetProperty("BlogId").GetValue(item, null)">@item.GetType().GetProperty("Title").GetValue(item, null)</a>
							<a href="/Blog/blog_detail?blogId=@item.GetType().GetProperty("BlogId").GetValue(item, null)" class="more-btn">Đọc tiếp</a>
						</div>
					</div>
					<!-- End Single Blog  -->
				</div>
			}

		</div>
	</div>
</section>
<!-- End Shop Blog  -->