@using System.Globalization;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "ITGoShop - Hệ thống Máy tính và Phụ kiện";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    string total1 = HttpContextAccessor.HttpContext.Session.GetString("total1");
    string total2 = HttpContextAccessor.HttpContext.Session.GetString("total2");

    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");


}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a>Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a>Kết quả tìm kiếm</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<div class="product-area section ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-info pb-80">
                    <div class="nav-main pb-20">
                        <!-- Tab Nav -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab" Style="font-size: 20px">Sản Phẩm</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women" role="tab" Style="font-size: 20px">Tin tức</a></li>
                        </ul>
                        <!--/ End Tab Nav -->
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade show active" id="man" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    @if (Enumerable.Count(ViewBag.Result1) == 0)
                                    {
                                        <div class="box_search_null">
                                            <img src="~/public/images_upload/Null.png" alt="null"> <div class="font-primary font-bold text-2xl text-dark-gray mb-2">
                                                Không tìm thấy kết quả
                                            </div> <p class="text-gray-600">
                                                Thử kiểm tra lỗi chính tả của từ khóa đã nhập hoặc thử lại bằng từ khóa khác
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        @foreach (var item in ViewBag.Result1)
                                        {
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img" style="width: 250px; height: 200px;">
                                                        <a href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("ProductId").GetValue(item, null)">
                                                            <img class="default-img" style="margin: auto; max-width: 250px; max-height: 200px; width: auto; height: auto; " src="~/public/images_upload/product/@item.GetType().GetProperty("ProductImage").GetValue(item, null)" alt="#">
                                                            <img class="hover-img" src="~/public/images_upload/product/@item.GetType().GetProperty("ProductImage").GetValue(item, null)" alt="#">
                                                            @{double so_ngay_da_moban = (DateTime.Now - item.GetType().GetProperty("StartsAt").GetValue(item, null)).TotalDays;}
                                                            @if (@so_ngay_da_moban < 14)
                                                            {
                                                                <span class="new">New</span>}
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Lượt Xem" href="#"><i class=" ti-eye"></i><span>Lượt xem: @item.GetType().GetProperty("View").GetValue(item, null)</span></a>
                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                                <input type="text" class="ProductId" value="@item.GetType().GetProperty("ProductId").GetValue(item, null)" hidden>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Add to cart" class="add-to-cart-a-tag" href="javascript:void(0)">Thêm vào giỏ hàng</a>
                                                                <input type="text" value="@item.GetType().GetProperty("ProductId").GetValue(item, null)" hidden>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a style="text-decoration:none" href="/ProductDetail/product_detail?productId=@item.GetType().GetProperty("ProductId").GetValue(item, null)">@item.GetType().GetProperty("ProductName").GetValue(item, null)</a></h3>
                                                        <div class="product-price">
                                                            <span style="color:black; font-size:17px"><b>@item.GetType().GetProperty("Price").GetValue(item, null).ToString("#,###", cul.NumberFormat) ₫</b></span>
                                                            @if (@item.GetType().GetProperty("Discount").GetValue(item, null) > 0)
                                                            {
                                                                double dc = @item.GetType().GetProperty("Price").GetValue(item, null) + (@item.GetType().GetProperty("Price").GetValue(item, null) * (@item.GetType().GetProperty("Discount").GetValue(item, null)) / 100);
                                                                <br>
                                                                <span class="old">@dc.ToString("#,###", cul.NumberFormat) ₫</span>
                                                                <span class="o-giam-gia" style="font-size:10px">-@item.GetType().GetProperty("Discount").GetValue(item, null)% </span>}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                        <!-- Start Single Tab  -->
                        <div class="tab-pane fade" id="women" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    @if (Enumerable.Count(ViewBag.Result2) == 0)
                                    {
                                        <div class="box_search_null">
                                            <img src="~/public/images_upload/Null.png" alt="null"> <div class="font-primary font-bold text-2xl text-dark-gray mb-2">
                                                Không tìm thấy kết quả
                                            </div> <p class="text-gray-600">
                                                Thử kiểm tra lỗi chính tả của từ khóa đã nhập hoặc thử lại bằng từ khóa khác
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        @foreach (var item in ViewBag.Result2)
                                        {
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  " style="height: 400px; width: 570px">
                                                <div class="ps-post">
                                                    <div class="ps-post__thumbnail"><a class="ps-post__overlay"></a><img src="~/public/images_upload/blog/@item.GetType().GetProperty("Image").GetValue(item, null)" alt=""></div>
                                                    <div class="ps-post__content">
                                                        <a class="ps-post__title" href="/Blog/blog_detail?blogId=@item.GetType().GetProperty("BlogId").GetValue(item, null)">@item.GetType().GetProperty("Title").GetValue(item, null)</a>
                                                        <p class="ps-post__meta"><span>By:<a class="mr-5">@item.GetType().GetProperty("Author").GetValue(item, null)</a></span>-<span class="ml-3">@item.GetType().GetProperty("DatePost").GetValue(item, null)</span></p>
                                                        <p>@item.GetType().GetProperty("Summary").GetValue(item, null)</p><a class="ps-morelink" href="/Blog/blog_detail?blogId=@item.GetType().GetProperty("BlogId").GetValue(item, null)">Đọc tiếp<i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal end -->
<style>
    .box_search_null {
        text-align: center;
        max-width: 440px;
        color: #414956;
        font-size: 16px;
        margin: 0 auto 70px;
    }

        .box_search_null img {
            display: block;
            margin: 0 auto;
        }

    .text-dark-gray {
        --text-opacity: 1;
        color: #0e0e0e;
        color: rgba(14,14,14,var(--text-opacity));
    }

    .text-2xl {
        font-size: 1.5rem;
    }

    .font-bold {
        font-weight: 700;
    }

    .font-primary {
        font-family: SF_Pro_Display,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }

    .mb-2 {
        margin-bottom: 0.5rem;
    }

    .text-gray-600 {
        --text-opacity: 1;
        color: #414956;
        color: rgba(65,73,86,var(--text-opacity));
    }
</style>  